<div flex="100" layout="column" layout-align="space-between stretch" layout-gt-sm="row" layout-align-gt-sm="start center" layout-margin>
    <!-- Site -->
    <div class="dc-no-layout-margin dc-select-separator" flex="100" flex-gt-sm="25">
        <md-input-container>
            <label>Select Site</label>
            <ma-drop-down-button>
                <span ng-if="$ctrl.options.searchOptions.site != null" class="ma-ellipsis">
                    <span ng-bind="$ctrl.options.searchOptions.site"></span>
                </span>
                <span ng-if="$ctrl.options.searchOptions.site == null">
                    <em>None</em>
                </span>

                <em ng-if="$ctrl.getDataPointTags === null"></em>
                <ma-drop-down auto-focus="::false">
                    <ma-option-list
                        name="site"
                        ng-model="$ctrl.options.searchOptions.site"
                        items="$ctrl.getSiteOptions($filter)"
                        ng-change="$ctrl.searchOptionsHandler('site')"
                        has-value="$value !== undefined"
                        ma-configure-input-container
                    >
                        <ma-option ng-repeat="site in $items" ng-value="site">
                            <span class="ma-ellipsis">
                                <span md-highlight-text="$filter" md-highlight-flags="ig">{{site}}</span>
                            </span>
                        </ma-option>
                    </ma-option-list>
                </ma-drop-down>
            </ma-drop-down-button>
        </md-input-container>
    </div>

    <div class="dc-no-layout-margin dc-select-separator" flex="100" flex-gt-sm="25" ng-if="$ctrl.options.searchOptions.site">
        <md-input-container>
            <label>Select Data Hall</label>
            <ma-drop-down-button>
                <span ng-if="$ctrl.options.searchOptions.dataHall" class="ma-ellipsis">
                    <span ng-bind="$ctrl.options.searchOptions.dataHall"></span>
                </span>
                <span ng-if="!$ctrl.options.searchOptions.dataHall">
                    <em>None</em>
                </span>

                <em ng-if="!$ctrl.getDataPointTags"></em>
                <ma-drop-down auto-focus="::false">
                    <ma-option-list
                        name="dataHall"
                        ng-model="$ctrl.options.searchOptions.dataHall"
                        items="$ctrl.getDataHallOptions($filter, $ctrl.options.searchOptions.site)"
                        ng-change="$ctrl.searchOptionsHandler('dataHall')"
                        has-value="$value !== undefined"
                        ma-configure-input-container
                    >
                        <ma-option ng-if="!$filter" ng-value="null">
                            <md-icon>clear</md-icon>
                            <em class="ma-ellipsis">Clear</em>
                        </ma-option>

                        <ma-option ng-repeat="dataHall in $items" ng-value="dataHall">
                            <span class="ma-ellipsis">
                                <span md-highlight-text="$filter" md-highlight-flags="ig">{{dataHall}}</span>
                            </span>
                        </ma-option>
                    </ma-option-list>
                </ma-drop-down>
            </ma-drop-down-button>
        </md-input-container>
    </div>
</div>
