ex-display-values-page > div.page-header {
    padding: 0 8px;
}

ex-display-values-page ex-value-indicator {
    padding: 4px 30px;
}

ex-display-values-page ex-expansion-panel {
    margin-top: 24px;
}
