dc-environmental h4 {
    line-height: 1.25;
    font-size: small;
    margin-bottom: 0px !important;
    margin-top: 0rem !important;
}

dc-environmental h3 {
    line-height: 1.25;
    font-size: small;
    margin-bottom: 0px !important;
    margin-top: 8px !important;
}

dc-environmental label {
    line-height: 1rem !important;
    font-size: 1rem !important;
    color: var(--ma-foreground-2);
    margin-top: 0.4rem !important;
    margin-bottom: 1rem !important;
}

dc-environmental .dc-small-font {
    line-height: 1rem !important;
    font-size: small !important;
}

dc-environmental .dc-floor-padding-8 {
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    padding-right: 4px;
}

dc-environmental .dc-container {
    margin-left: 12px !important;
    margin-top: 12px !important;
}

dc-environmental .dc-container-no-margin {
    margin-left: 0px !important;
    margin-top: 2px !important;
}

dc-enviromental .dc-margin.top {
    line-height: 1.25;
    font-size: small;
    margin-bottom: 0px !important;
    margin-top: 8px !important;
}
