<md-input-container>
    <label>Select Unit</label>
    <ma-drop-down-button>
        <span ng-if="$ctrl.unit != null" class="ma-ellipsis">
            <span ng-bind="$ctrl.unit.name"></span>
        </span>

        <span ng-if="!$ctrl.unit">
            <em>None</em>
        </span>

        <ma-drop-down auto-focus="::false">
            <ma-option-list
                name="unit"
                ng-model="$ctrl.unit"
                items="$ctrl.getUnits($filter)"
                ng-change="$ctrl.unitUpdated()"
                has-value="$value !== undefined"
                ma-configure-input-container
            >
                <ma-option ng-repeat="unit in $items" ng-value="unit">
                    <span class="ma-ellipsis">
                        <span md-highlight-text="$filter" md-highlight-flags="ig">{{unit.name}}</span>
                    </span>
                </ma-option>
            </ma-option-list>
        </ma-drop-down>
    </ma-drop-down-button>
</md-input-container>
