dc-zones-svg {
    display: block;
    position: relative;
    /*overflow: hidden;*/
}

dc-zones-svg ma-svg {
    width: 100%;
    height: 100%;
}

dc-zones-svg > .dc-zone-tooltip {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    border: 1px solid var(--ma-background-contrast);
    border-radius: 8px;
    background-color: var(--ma-background);
    color: var(--ma-background-contrast);
    font-size: 1.2rem;
}

dc-zones-svg svg .dc-dcim-rack > .st0:hover,
dc-zones-svg svg .dc-dcim-row > .st4:hover {
    stroke: var(--ma-primary);
    stroke-width: 2;
}

dc-zones-svg svg .dc-dcim-row,
dc-zones-svg svg .dc-dcim-rack {
    display: none;
}

dc-zones-svg .dc-dcim-show-racks svg .dc-dcim-rack {
    display: unset;
}

dc-zones-svg .dc-dcim-show-rows svg .dc-dcim-row {
    display: unset;
}

dc-zones-svg svg g:not(.dc-dcim-temp-color) .st0 {
    opacity: 0.5;
    fill: #009245;
}
dc-zones-svg svg g:not(.dc-dcim-temp-color) .st1 {
    opacity: 0.7;
    fill: #ffffff;
}
dc-zones-svg svg g:not(.dc-dcim-temp-color) .st4 {
    opacity: 0.5;
    fill: #004291;
}
