<div ng-repeat="site in $ctrl.sites track by site.xid">
    <ma-get-point-value point-xid="{{site.portfolioPoints.consumedEnergyXid}}" point="site.consumedEnergy"></ma-get-point-value>
    <ma-get-point-value point-xid="{{site.portfolioPoints.heartbeatXid}}" point="site.heartbeat"></ma-get-point-value>
    <ma-get-point-value point-xid="{{site.portfolioPoints.currentPowerProductionXid}}" point="site.currentPowerProduction"></ma-get-point-value>
    <ma-get-point-value point-xid="{{site.portfolioPoints.irradianceXid}}" point="site.irradiance"></ma-get-point-value>
    <ma-get-point-value point-xid="{{site.portfolioPoints.statusXid}}" point="site.status"></ma-get-point-value>
    <ma-get-point-value point-xid="{{site.portfolioPoints.performanceRatioXid}}" point="site.performanceRatio"></ma-get-point-value>
</div>

<md-table-container class="ex-table" ex-intersection-observer style="height: 600px; overflow: auto;">
    <table md-table>
        <thead md-head md-order="$ctrl.order">
            <tr md-row>
                <th md-column md-order-by="name">Site</th>
                <th md-column>Last day trend</th>
                <th md-column>Metering</th>
                <th md-column>Alarms</th>
                <th md-column md-order-by="status.renderedValue">Status/Performance</th>
                <th md-column>Heartbeat</th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="site in $ctrl.sites | orderBy: $ctrl.order" ex-intersection-listener="$ctrl.onScroll($index, site, $entry, $intersectionSupported)">
                <td md-cell colspan="7" class="loading-text" ng-if="$ctrl.sitePointsLoading(site)">
                    <span>Loading site {{site.name}}</span>
                </td>
                <td md-cell ng-if-start="!$ctrl.sitePointsLoading(site)">
                    <h4 ng-bind="site.name"></h4>
                    <p>{{site.capacity}} [MW]</p>
                </td>
                <td md-cell>
                    <ma-point-values
                        point="site.consumedEnergy"
                        values="site.consumedEnergyValues"
                        from="$ctrl.lastDayStart"
                        to="$ctrl.lastDayEnd"
                        rollup="AVERAGE"
                        rollup-interval="1 hours"
                    ></ma-point-values>
                    <div flex="100">
                        <ma-serial-chart
                            style="height: 60px; width: 200px;"
                            series-1-values="site.consumedEnergyValues"
                            series-1-type="column"
                            series-1-title="kWh"
                            options="{
                                        autoMargins: false,
                                        marginBottom: 0,
                                        marginLeft: -100,
                                        categoryAxis:{labelsEnabled:false, gridAlpha: 0, axisAlpha: 0},
                                        valueAxes:[{labelsEnabled: false, gridAlpha: 0, axisAlpha: 0}]
                                }"
                        ></ma-serial-chart>
                    </div>
                </td>
                <td md-cell>
                    <p>
                        <span>Power: </span>
                        <ma-point-value point="site.currentPowerProduction" enable-popup="right"></ma-point-value>
                    </p>
                    <p>
                        <span>Irradiance: </span>
                        <ma-point-value point="site.irradiance" enable-popup="right"></ma-point-value>
                    </p>
                </td>
                <td md-cell>
                    No active alarms
                </td>
                <td md-cell>
                    <p>
                        <ma-point-value point="site.status" enable-popup="right"></ma-point-value>
                    </p>
                    <p>
                        <ma-point-value point="site.performanceRatio" enable-popup="right"></ma-point-value>
                    </p>
                </td>
                <td md-cell>
                    <ma-point-values point="site.heartbeat" values="site.heartbeatValues" latest="20"></ma-point-values>

                    <div flex="100">
                        <ma-serial-chart
                            style="height: 40px; width: 80px;"
                            series-1-values="site.heartbeatValues"
                            series-1-type="column"
                            options="{
                                        autoMargins: false,
                                        marginBottom: 0,
                                        marginLeft: -100,
                                        categoryAxis:{labelsEnabled:false, gridAlpha: 0, axisAlpha: 0},
                                        valueAxes:[{labelsEnabled: false, gridAlpha: 0, axisAlpha: 0}]
                                }"
                        ></ma-serial-chart>
                    </div>
                    <p ng-bind="site.heartbeatValues[site.heartbeatValues.length - 1].timestamp | maMoment:'format':'L LTS'"></p>
                </td>

                <td md-cell ng-if-end>
                    <md-button class="md-icon-button" aria-label="More" ng-click="$ctrl.goToSite(site.xid)">
                        <md-icon>visibility</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
