<div class="dc-container">
    <!-- Inputs -->
    <dc-point-selectors
            ng-model="$ctrl.selectedOptions"
            ng-change="$ctrl.setStatisticsPoints()"
            hide-asset="true"
    ></dc-point-selectors>

    <div layout="row" layout-wrap layout-align="space-between start">

        <div flex="100" layout-gt-md="row" layout-align="space-between stretch">
            <!-- Floor plan -->
            <dc-expansion-panel flex="100" flex-gt-md="70" card-title="Floor plan" fill-card="true" layout-margin>
                <content>
                    <dc-site-floor-plan
                        ng-if="!$ctrl.selectedOptions.searchOptions.dataHall"
                        site="$ctrl.selectedOptions.searchOptions.site"
                        points="$ctrl.selectedOptions.specificPoints"
                    ></dc-site-floor-plan>
                </content>
            </dc-expansion-panel>
            <!-- Active Alarmrs -->
            <dc-expansion-panel flex="100" flex-gt-md="30" card-title="Active alarms" fill-card="true" layout-margin>
                <content>
                    <dc-active-alarms search-options="$ctrl.selectedOptions.searchOptions"></dc-active-alarms>
                </content>
            </dc-expansion-panel>
        </div>

        <div flex="100" layout="row" layout-wrap layout-align="space-between stretch">
            <!-- Charts-->
            <div flex="100" flex-gt-md="100">
                <dc-expansion-panel card-title="Charts">
                    <header-actions>
                        <md-button ng-click="$ctrl.setStatisticsPoints()">Display zone points</md-button>
                    </header-actions>
                    <content>
                        <dc-statistics-widget
                                points="$ctrl.statisticPoints"
                                hide-settings="true"
                                column="true"
                                default-points="$ctrl.statisticDefaults">
                        </dc-statistics-widget>
                    </content>
                </dc-expansion-panel>
            </div>
        </div>
    </div>
</div>
