<ma-svg
        ng-include="$ctrl.tankSvg">
    <div ma-selector="#level10" class="{{$ctrl.svgColorFill(10)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(10)}">
    </div>
    <div ma-selector="#level20" class="{{$ctrl.svgColorFill(20)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(20)}">
    </div>
    <div ma-selector="#level30" class="{{$ctrl.svgColorFill(30)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(30)}">
    </div>
    <div ma-selector="#level40" class="{{$ctrl.svgColorFill(40)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(40)}">
    </div>
    <div ma-selector="#level50" class="{{$ctrl.svgColorFill(50)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(50)}">
    </div>
    <div ma-selector="#level60" class="{{$ctrl.svgColorFill(60)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(60)}">
    </div>
    <div ma-selector="#level70" class="{{$ctrl.svgColorFill(70)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(70)}">
    </div>
    <div ma-selector="#level80" class="{{$ctrl.svgColorFill(80)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(80)}">
    </div>
    <div ma-selector="#level90" class="{{$ctrl.svgColorFill(90)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(90)}">
    </div>
    <div ma-selector="#level100" class="{{$ctrl.svgColorFill(100)}}"
         ng-class="{'svg-show-tank': $ctrl.svgTankFill(100)}">
    </div>
</ma-svg>
