<div flex layout="column" class="dc-container">
    <h4>Row: {{$ctrl.rowInfoObj.row}} — Sub row: {{$ctrl.rowInfoObj.subRow}}</h4>

    <div flex layout="column" layout-sm="row" layout-gt-sm="row" layout-wrap>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <ma-point-value point="$ctrl.rowInfoObj.health" enable-popup="bottom"> </ma-point-value>
            <div ng-if="!$ctrl.rowInfoObj.health">---</div>
            <label class="md-container-ignore">• Health</label>
        </div>

        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <ma-point-value point="$ctrl.rowInfoObj.load" enable-popup="bottom"> </ma-point-value>
            <div ng-if="!$ctrl.rowInfoObj.load">---</div>
            <label class="md-container-ignore">• Load</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <ma-point-value point="$ctrl.rowInfoObj.loadPercentage" enable-popup="bottom"> </ma-point-value>
            <div ng-if="!$ctrl.rowInfoObj.loadPercentage">---</div>
            <label class="md-container-ignore">• Load percentage</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <ma-point-value point="$ctrl.rowInfoObj.deliveredEnergy" enable-popup="bottom"> </ma-point-value>
            <div ng-if="!$ctrl.rowInfoObj.deliveredEnergy">---</div>
            <label class="md-container-ignore">• Delivered energy</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <ma-point-value point="$ctrl.rowInfoObj.maxPhaseVoltagesUnbalance" enable-popup="bottom"> </ma-point-value>
            <div ng-if="!$ctrl.rowInfoObj.maxPhaseVoltagesUnbalance">---</div>
            <label class="md-container-ignore">• Voltages max unbalance</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <ma-point-value point="$ctrl.rowInfoObj.maxPhaseCurrentsUnbalance" enable-popup="bottom"> </ma-point-value>
            <div ng-if="!$ctrl.rowInfoObj.maxPhaseCurrentsUnbalance">---</div>
            <label class="md-container-ignore">• Currents max unbalance</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <div layout="row" ng-if="$ctrl.rowInfoObj.maxiTHD && $ctrl.rowInfoObj.maxvTHD">
                <ma-point-value point="$ctrl.rowInfoObj.maxiTHD" enable-popup="bottom"> </ma-point-value>
                &nbsp; &#47; &nbsp;
                <ma-point-value point="$ctrl.rowInfoObj.maxvTHD" enable-popup="bottom"> </ma-point-value>
            </div>
            <div ng-if="!$ctrl.rowInfoObj.maxiTHD && !$ctrl.rowInfoObj.maxvTHD">---</div>
            <label class="md-container-ignore">• Max ITHD / VTHD</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <ma-point-value point="$ctrl.rowInfoObj.lowestPowerFactor" enable-popup="bottom"> </ma-point-value>
            <div ng-if="!$ctrl.rowInfoObj.lowestPowerFactor">---</div>
            <label class="md-container-ignore">• Lowest power factor</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <div ng-bind="$ctrl.rowInfoObj.snowMetrics && ($ctrl.rowInfoObj.snowMetrics.totalConnectedLoad | number:2) + 'kW' || '---'"></div>
            <label class="md-container-ignore">• TCL</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <div ng-bind="$ctrl.rowInfoObj.snowMetrics && ($ctrl.rowInfoObj.snowMetrics.maximumDemandLoad | number:2) + 'kW' || '---'"></div>
            <label class="md-container-ignore">• MDL</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <div ng-bind="$ctrl.rowInfoObj.snowMetrics && ($ctrl.rowInfoObj.snowMetrics.averageDemandLoad | number:2) + 'kW' || '---'"></div>
            <label class="md-container-ignore">• ADL</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <div ng-bind="$ctrl.rowInfoObj.snowMetrics && ($ctrl.rowInfoObj.snowMetrics.loadMultiplier | number:2) || '---'"></div>
            <label class="md-container-ignore">• LM</label>
        </div>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font dc-floor-padding-8">
            <div ng-bind="$ctrl.rowInfoObj.snowMetrics && ($ctrl.rowInfoObj.snowMetrics.averageDemandFactor | number:2) || '---'"></div>
            <label class="md-container-ignore">• ADF</label>
        </div>
    </div>
</div>
