<div flex layout="column" class="dc-container">
    <h4>Sub Row: {{$ctrl.rowInfoObj.row}} — {{$ctrl.rowInfoObj.subRow}}</h4>

    <div flex layout="column" layout-sm="row" layout-gt-sm="row" layout-wrap>
        <div layout="column" flex-sm="50" flex-gt-sm="25" class="dc-small-font">
            <ma-point-value point="$ctrl.rowInfoObj.point" enable-popup="bottom" style="margin-top: 8px;"> </ma-point-value>
            <div class="dc-margin-top" ng-if="!$ctrl.rowInfoObj.point">---</div>
            <label ng-if="$ctrl.rowInfoObj.point" class="md-container-ignore">TAPSum ratio</label>
        </div>
    </div>
</div>
