<!--Racks Power-->
<div layout="column" ng-if="$ctrl.displayOption == 'rackPowerRack'">
    <h4><strong>Legend</strong></h4>
    <div layout-align="end center" class="dc-small-font">
        Selected rack&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator {{'INFORMATION'}}" />
        </svg>
    </div>
</div>

<!--Rack Load-->
<div ng-if="$ctrl.displayOption === 'racksLoads'" layout="column" layout-align="end">
    <h4><strong>Legend</strong></h4>
    <div layout-align="end center" class="dc-small-font">
        Load < 50 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-minor dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        50 % < Load < 75 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-information dc-alarm-indicator-no-opacity" />
        </svg>
    </div>

    <div layout-align="end center" class="dc-small-font">
        75 % < Load < 95 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-warning dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        Load > 95 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-critical dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
</div>

<!--Row Load-->
<div ng-if="$ctrl.displayOption === 'rowLoad'" layout="column" layout-align="end">
    <h4><strong>Legend</strong></h4>
    <div layout-align="end center" class="dc-small-font">
        Load < 25 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-minor dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        25 % < Load < 35 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-information dc-alarm-indicator-no-opacity" />
        </svg>
    </div>

    <div layout-align="end center" class="dc-small-font">
        35 % < Load < 42 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-warning dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        Load > 42 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-critical dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
</div>

<!--- Row environmental-->
<div ng-if="$ctrl.displayOption === 'environmental' && $ctrl.displayOptionEnvironment !== 'roomHumidity'" layout="column" layout-align="end">
    <h4><strong>Legend</strong></h4>

    <div layout-align=" end center" class="dc-small-font">
        Temp < 65 °F &nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator {{'MINOR'}}" />
        </svg>
    </div>

    <div layout-align="end center" class="dc-small-font">
        65 °F < Temp < 70 °F&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator {{'INFORMATION'}}" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        70 °F < Temp < 80 °F&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator {{'WARNING'}}" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        80 °F > Temp&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator {{'CRITICAL'}}" />
        </svg>
    </div>
</div>
<!--Humidity indicator-->
<div ng-if="$ctrl.displayOption === 'environmental' && $ctrl.displayOptionEnvironment === 'roomHumidity'" layout="column" layout-align="end">
    <h4><strong>Legend</strong></h4>

    <div layout-align="end center" class="dc-small-font">
        25 % < RH < 75 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator {{'INFORMATION'}}" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        25 % > RH > 75 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator {{'MINOR'}}" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        20 % > RH > 80 %&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator {{'CRITICAL'}}" />
        </svg>
    </div>
</div>

<!--TAPSumRatios-->
<div ng-if="$ctrl.displayOption === 'TAPSumRatios' " layout="column" layout-align="end">
    <h4><strong>Legend</strong></h4>

    <div layout-align="end center" class="dc-small-font">
        Ratio < 1.02 &nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-minor dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        1.02 < Ratio < 1.06&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-information dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        1.06 < Ratio < 1.10&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-warning dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
    <div layout-align="end center" class="dc-small-font">
        Ratio > 1.10&nbsp;<svg width="14" height="14">
            <rect width="14" height="14" rx="2" ry="2" class="dc-alarm-indicator-critical dc-alarm-indicator-no-opacity" />
        </svg>
    </div>
</div>
