dc-racks-loads h4 {
    line-height: 1.25;
    font-size: small;
    margin-bottom: 0.8rem !important;
    margin-top: 1rem !important;
}

dc-racks-loads label {
    line-height: 1rem !important;
    font-size: 1rem !important;
    color: var(--ma-foreground-2);
    margin-top: 0.4rem !important;
    margin-bottom: 1rem !important;
}

dc-racks-loads .dc-small-font {
    line-height: 1rem !important;
    font-size: small !important;
}

dc-racks-loads .dc-floor-padding-8 {
    padding: 0 8px;
    overflow: hidden;
}

dc-racks-loads .dc-container {
    margin-left: 16px !important;
    margin-top: 2px !important;
}

dc-racks-loads .dc-container-no-margin {
    margin-left: 0px !important;
    margin-top: 2px !important;
}
