<div layout="column" layout-align="space-between stretch" layout-gt-sm="{{$ctrl.column ? 'column' : 'row'}}">
    <!-- Input Point-->
    <div flex="100" layout="column" layout-align="space-between stretch" layout-gt-sm="row"
        layout-align-gt-sm="start center" layout-margin>
        <div class="dc-no-layout-margin" flex="100" flex-gt-sm="45" flex-gt-md="35">
            <md-input-container>
                <label>Select available data point</label>
                <ma-drop-down-button>
                    <span class="ma-ellipsis">
                        <span ng-repeat="point in $ctrl.selectedPoints" ng-if="point">
                            <span>{{point.deviceName}} - {{point.name}}</span>
                            <!-- <span>{{point.deviceName}}</span>
                            <em ng-if="!$ctrl.hideName">({{point.name}})</em> -->
                            <span ng-if="!$last">,</span>
                        </span>
                    </span>
                    <ma-drop-down auto-focus="::false">
                        <ma-option-list name="selectedPoint" ng-model="$ctrl.selectedPoints" ng-multiple="true"
                            ng-change="$ctrl.buildSettings()" items="$ctrl.getPoints($filter)"
                            ma-configure-input-container>

                            <ma-option ng-if="!$filter" ng-value="'clear'">
                                <md-icon>clear</md-icon>
                                <em class="ma-ellipsis">Clear</em>
                            </ma-option>

                            <ma-option ng-repeat="point in $items track by point.xid" ng-value="point">
                                <md-icon ng-if="$multiple" class="ma-selected-show">check</md-icon>
                                <span class="ma-ellipsis">
                                    <span md-highlight-text="$filter" md-highlight-flags="ig">{{point.extendedName}}</span>
                                    <!-- <span md-highlight-text="$filter"
                                        md-highlight-flags="ig">{{point.deviceName}}</span>
                                    <em md-highlight-text="$filter" md-highlight-flags="ig"
                                        ng-if="!$ctrl.hideName">({{point.name}})</em> -->
                                </span>
                            </ma-option>
                        </ma-option-list>
                    </ma-drop-down>
                </ma-drop-down-button>
            </md-input-container>
        </div>
    </div>
    <!-- Div Show Chart-->

    <div flex="100" flex-gt-sm="30" layout="column" layout-align="start stretch">

        <div ng-if="$ctrl.hideSettings === 'true'" ng-repeat="point in $ctrl.selectedPoints track by point.xid">
            <div layout layout-align="start center" layout-wrap>
                <div flex="100" flex-gt-md="30">
                    <strong ng-bind="point.name"></strong>
                    <div ng-if="$ctrl.showCampus" ng-bind="point.tags.campus"></div>
                    <div ng-if="$ctrl.showRegion" ng-bind="point.tags.region"></div>
                    <div ng-if="$ctrl.showZone" ng-bind="point.tags.zone"></div>
                </div>
                <ma-color-picker ng-model="point.chartColour" ng-change="$ctrl.editSettings(point)"></ma-color-picker>

                <md-input-container flex>
                    <label ma-tr="ui.app.lineColor"></label>
                    <input ma-empty-input="undefined" ng-model="point.chartColour" ng-model-options="{debounce: 1000}"
                        ng-change="$ctrl.editSettings(point)">
                </md-input-container>

                <md-input-container flex>
                    <label ma-tr="ui.app.chartType"></label>
                    <md-select ma-empty-input="undefined" ng-model="point.plotType"
                        ng-change="$ctrl.editSettings(point)">
                        <md-option value=""><em ma-tr="ui.app.clear"></em></md-option>
                        <md-option value="SPLINE" ma-tr="ui.app.smooth"></md-option>
                        <md-option value="LINE" ma-tr="ui.app.line"></md-option>
                        <md-option value="STEP" ma-tr="ui.app.step"></md-option>
                        <md-option value="COLUMN" ma-tr="ui.app.bar"></md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label ma-tr="ui.app.pointAxis"></label>
                    <md-select ma-empty-input="undefined" ng-model="point.valueAxis"
                        ng-change="$ctrl.editSettings(point)">
                        <md-option value=""><em ma-tr="ui.app.clear"></em></md-option>
                        <md-option ng-repeat="axis in $ctrl.axisOptions track by axis.name" ng-value="axis.name">
                            <span ma-tr="{{axis.translation}}"></span>
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-divider hide show-md ng-if="!$last" layout-margin></md-divider>
        </div>
    </div>
    <div flex="noshrink" layout="column" layout-align="center center">
        <div ng-show="!$ctrl.checkSelectedPoints()">Please select a point in order to display statistics</div>
        <ma-point-values points="$ctrl.selectedPoints" values="$ctrl.combined" from="$ctrl.dateBar.from"
            to="$ctrl.dateBar.to" rollup="ALL"
            rollup-interval="{{$ctrl.dateBar.rollupIntervals}} {{$ctrl.dateBar.rollupIntervalPeriod}}" rendered="true">
        </ma-point-values>
        <ma-serial-chart style="height: 100%; width: 100%" class="dc-statistics-chart"
            ng-show="$ctrl.checkSelectedPoints()" legend="true" values="$ctrl.combined"
            graph-options="$ctrl.graphOptions" options=$ctrl.chartOptions export="!$ctrl.hideExport">
        </ma-serial-chart>
    </div>
</div>
