dc-zone-overview-page .dc-no-layout-margin {
    margin: unset !important;
}

dc-zone-overview-page .dc-select-separator {
    margin-right: 8px !important;
}

dc-zone-overview-page .card-container > md-card {
    height: 100%;
}

/* atc-zone-overview .card-container {
    padding: 0px;
    height: 100%;
} */
