<div class="dc-bread-crumbs" ng-if="$ctrl.page === 'fleet'" flex="100" layout layout-padding>
    <h2 ng-if="$ctrl.options.region !== 'Global'" ng-click="$ctrl.optionsActions('global')">Global</h2>
    <h2 ng-if="$ctrl.options.region !== 'Global'" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.region" ng-click="$ctrl.optionsActions('region')"></h1>
    <h2 ng-if="$ctrl.options.campus" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.campus" ng-click="$ctrl.optionsActions('campus')"></h1>
    <h2 ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'" ng-if="$ctrl.options.zone"></h1>
    <h2 ng-bind="$ctrl.options.zone" ng-click="$ctrl.optionsActions('zone')"></h1>
</div>

<div class="dc-bread-crumbs" ng-if="$ctrl.page !== 'fleet'" flex="100" layout layout-padding>
    <h2 ng-if="$ctrl.options.region !== 'Global'" ng-click="$ctrl.optionsActions('global')">Global</h2>
    <h2 ng-if="$ctrl.options.region !== 'Global'" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.region" ng-click="$ctrl.optionsActions('region')"></h1>
    <h2 ng-if="$ctrl.options.campus" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.campus" ng-click="$ctrl.optionsActions('campus')"></h1>
    <h2 ng-if="$ctrl.options.zone" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.zone" ng-click="$ctrl.optionsActions('zone')"></h1>
    <h2 ng-if="$ctrl.options.row" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.row"></h1>
    <h2 ng-if="$ctrl.options.subRow" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.subRow"></h1>
    <h2 ng-if="$ctrl.options.busway" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.busway"></h1>
    <h2 ng-if="$ctrl.options.rack" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.rack"></h1>
    <h2 ng-if="$ctrl.options.tb" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.tb"></h1>
    <h2 ng-if="$ctrl.options.cb" ng-bind="'&nbsp;&nbsp;—&nbsp;&nbsp;'"></h1>
    <h2 ng-bind="$ctrl.options.cb"></h1>
</div>
